@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Allerta';
  /* reference font in assets folder - path relative to gen folder */
  src: url('./../assets/fonts/Allerta-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Allerta', sans-serif, monospace;
  @apply bg-slate-950;
  @apply text-slate-400;
}
